
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    height: 100vh;
    min-width: 150px;
    background-color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.sidebar .list .item {
    padding: 14px 0 14px 16px;
    cursor: pointer;
    border-bottom: 1px solid #5C5C5C;
}

.item:hover {
    background-color: #5C5C5C;
}

.main {
    margin-left: 150px;
    width: 100%;
}

.wrapper {
    width: 85%;
    margin: auto;
}

.wrapper .img {
    width: 310px;
    height: 122px;
    margin: 20px auto;
}

.wrapper .title {
    min-height: 170px;
    margin-top: 30px;
    padding: 38px 15% 30px;
    text-align: center;
    background-color: #EFEFEF;
}

.wrapper .title p {
    margin-top: 18px;
}

.wrapper .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper .content .card {
    margin-top: 35px;
    width: 470px;
    height: 252px;
}

.top-card {
    display: flex;
    flex-direction: row;
}
.image {
    width: 128px;
    height: 128px;  
}

.footer {
    margin-top: 190px;
    border-top: 1px solid #DEDEDE;
}

.footer p {
    padding: 35px 125px;
    border-top: 1px solid #DEDEDE;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-wrap: wrap;
    }
    .sidebar {
        height: fit-content;
        width: 100%;
        background-color: black;
    }
    .list {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .sidebar .list .item {
        border: 0px;
        padding: 14px;
    }
    .main {
        margin: 50px 0;
    }
    .wrapper .content .card {
       margin-bottom: 90px;
    }
}

